html {
    box-sizing: border-box;
    height: 100%;
}

* {
    padding: 0.5%;
    margin: 0;
    font-family:Georgia;
}


.responsive {
    max-width: 25%;
    height: auto;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #52ACFF,#FFE32C);
}

#pfp {
    border: 5px solid #500;
    shape-rendering: crispEdges;
    border-radius: 50%;
}

.bio{
    text-align: center;
    margin: 5%;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-listbox {
    list-style: none;
    background: #22328C;
    display: flex;
    justify-items: center;
    padding: 2%;
    margin: .5%;
}

.navbar-item{
    display: flex;
    position: relative;
    align-content: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Georgia;
}

.drop-menu {
    display: none;
    width:38%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    list-style: none;

}

.drop-menu-item {
    display:block;
    font-size: large;
    float: none;
    padding: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

.navbar-item:hover {
    background-color: #22438C;
}

.navbar li:hover .drop-menu {
    display: flex;
    flex-flow: column;
} 

.drop-menu-item:hover {
    background: #112C66;
}

.proj-text{
    margin: 10%;
    text-align: center;
}

