html {
    box-sizing: border-box;
    height: 100%;
}

* {
    padding: 0.5%;
    margin: 0;
    font-family:serif;
}


.responsive {
    max-width: 25%;
    height: auto;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #080f6f,#6c0594);
}

#pfp {
    border: 5px solid rgb(123, 15, 185);
    shape-rendering: crispEdges;
    border-radius: 50%;
}

.bio{
    text-align: center;
    margin: 5%;
    color: aliceblue;
    text-shadow: 0 0 10px #f736cd, 0 0 20px #f736cd, 0 0 30px #f736cd;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-listbox {
    list-style: none;
    background: #04023f;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
}

.navbar-item{
    display: block;
    max-width: 12em;
    height: 2em;
    position: relative;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Georgia; 
    margin-inline: 2em;   
}

.drop-menu {
    display: none;
    width:38%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    list-style: none;
}

.drop-menu-item {
    display:block;
    font-size: large;
    float: none;
    padding: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

.navbar-item:hover {
    background-color: #22438C;
}

.navbar li:hover .drop-menu {
    display: flex;
    flex-flow: column;
} 

.drop-menu-item:hover {
    background: #112C66;
}

.proj-text{
    margin: 10%;
    text-align: center;

    margin: 5%;
    color: aliceblue;
    text-shadow: 0 0 10px #f736cd, 0 0 20px #f736cd, 0 0 30px #f736cd,
    0 0 30px #c1a8e2;
}

